.page-content {
    flex: 1;
    padding: 35px 0;
}

.container {
    width: 917px;
}

.video-player {
    width: 100%;
    height: 200px;   
}

@media (max-width:980px) {
    .tweet-feed {
        grid-template-columns: 1fr 1fr
    }
}

@media (max-width:680px) {
    .tweet-feed {
        grid-template-columns: 1fr
    }
}

.tweet-card-image {
    margin: 0 0 10px;
    width: 100%;
    height: 200px;
    no-repeat 50%: ;
    background-size: cover;
    object-fit: contain;
}

.tweet-card {
    text-decoration: none;
    background-color: #fff;
    color: inherit;
    border: 1px solid #eee;
    padding: 5px;
}

img {
    background-image: url('/images/default.jpeg')
}